<!DOCTYPE html>
<html>
<head>

<title>Detector de Imágenes IA</title>

<style>

body{
font-family: Arial;
background:#111;
color:white;
text-align:center;
padding:40px;
}

.container{
background:#1e1e1e;
padding:30px;
border-radius:10px;
width:500px;
margin:auto;
}

input{
margin:20px;
}

button{
padding:10px 20px;
font-size:16px;
background:#00c3ff;
border:none;
border-radius:5px;
cursor:pointer;
}

img{
margin-top:20px;
max-width:100%;
border-radius:10px;
}

.result{
margin-top:20px;
font-size:22px;
}

</style>

</head>

<body>

<div class="container">

<h1>Detector de Imágenes IA</h1>

<p>Sube una imagen y el sistema analizará si fue generada por inteligencia artificial.</p>

<form method="POST" enctype="multipart/form-data">

<input type="file" name="image" required>

<br>

<button type="submit">Analizar Imagen</button>

</form>

{% if filename %}

<h2>Imagen analizada</h2>

<img src="{{ url_for('static', filename='../uploads/' + filename) }}">

{% endif %}

{% if score %}

<div class="result">

<h2>Probabilidad de IA: {{score}} %</h2>

</div>

{% endif %}

</div>

</body>
</html>